@if (!User.Identity.IsAuthenticated)
{
    <span style="display: inline; float: left">
        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Create employee</a>
        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="Login">Create project</a>
    </span>
}
@if (User.IsInRole("Supervisor"))
{
    <span style="display: inline; float: left">
        <a class="btn btn-outline-dark" asp-controller="User" asp-action="CreateUser">Create employee</a>
        <a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject">Create project</a>
    </span>
}

