<span style="display: inline; float: left">
    <a class="btn btn-outline-dark" asp-controller="Employee" asp-action="CreateEmployee"><h6>Create employee</h6></a>
    <a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject"><h6>Create project</h6></a>
</span>