<span style="display: inline; float: left">
    <a class="btn btn-outline-dark" asp-controller="Employee" asp-action="CreateEmployee">Create employee</a>
    <a class="btn btn-outline-dark" asp-controller="Project" asp-action="CreateProject">Create project</a>
</span>